<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

 <h1>Team Name: <%=params[:teamname]%></h1>
 <h2>Coach: <%=params[:coach]%></h2>
 <h2>Point Guard: <%=params[:pguard]%></h2>
 <h2>Shooting Guard: <%=params[:shootguard]%></h2>
 <h2>Small Forward: <%=params[:smallforward]%></h2>
 <h2>Coach: <%=params[:coach]%></h2>
 <h2>Coach: <%=params[:coach]%></h2>

 </body>
</html>
